grant {
  permission java.util.PropertyPermission "java.vm.name", "read";
  permission java.net.SocketPermission "127.0.0.1:*", "connect,resolve";
};
