grant {
  permission java.util.PropertyPermission "scala.time", "read";
  permission java.net.SocketPermission "*:*", "connect,resolve";
  permission java.net.SocketPermission "*:*", "accept";
};
